* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	outline: none;
}
*::selection {
	color: #F1545F;
}
body{
	display: none;
}
.dropdown-toggle {
	white-space: nowrap;
}

.dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.155em;
	vertical-align: 0.115em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
	margin-left: 0;
}

.headerr {
	display: none;
	justify-content: space-around;
	background-color: black;
	flex-wrap: wrap;
	align-items: center;
	height: auto;
	padding: 10px 15px;
	position: fixed;
	opacity: 0.8;
	width: 15%;
}

.brandd {
	font-size: 30px;
	display: none;
}

a {
	color: white;
}

a:hover {
	color: white;
	text-decoration: none;
}

.navv li {
	float: left;
	margin-left: 12px;
	margin-right: 15px;
	list-style-type: none;
	font-size: 13px;
	display: none;
}

.dropdownn {
	display: none;
	position: absolute;
	background-color: black;
	width: 8rem;
	text-align: center;
	border-radius: 10px;
}

.dropdownn a {
	display: block;
	font-size: 16px;
}

.navv li:nth-child(4):hover .dropdownn {
	display: block;
}


/* HEADER FOR MOBILE */

.mobilheader {
	display: none;
	background-color: black;
	height: 55px;
	position: fixed;
	width: 100%;
}

.mobilheader span {
	position: absolute;
	top: 20%;
	font-size: 25px;
}

.fa-bars {
	font-size: 25px;
	cursor: pointer;
	color: white;
	position: absolute;
	right: 5%;
	bottom: 0;
	top: 25%;
}

.menu {
	position: fixed;
	right: 0;
	width: 0%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.menu li {
	list-style-type: none;
	margin-top: 15px;
	margin-bottom: 15px;
	z-index: 9999;
}

.menu ul li a {
	color: white;
	font-size: 25px;
}

.menu ul li:nth-child(n+2) {
	margin-top: 30px;
}

.dropdownnmobil a {
	color: white !important;
	display: block;
}

.dropdownnmobil {
	display: none;
	background-color: black;
	width: auto;
	text-align: center;
}

.menu li:nth-child(4):hover .dropdownnmobil {
	display: block;
}

.fa-times {
	color: white;
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 1%;
	font-size: 2.5rem;
}

@media (max-width:785px) {
	.mobilheader {
		display: block;
	}
	.headerr {
		display: none !important;
	}
	.btn2 {
		margin-left: 0px !important;
	}
}


/*            END HEADER FOR MOBILE               */

.slide {
	background-image: url(https://i.hizliresim.com/bvzjyd.jpg);
	height: 1000px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slide .col1 span {
	font-size: 30px;
	color: white;
}

.slide .col2 span {
	font-size: 65px;
	color: white;
}

.slide .col3 {
	margin-bottom: 55px;
}
.slide .col1,.col2,.col3{
	display: none;
}
.btn {
	color: white;
	padding: 10px 40px;
	font-size: 14px;
	cursor: pointer;
}

.btn1 {
	border: 2px solid white;
	margin-right: 8px;
	background: none;
}

.btn1:hover {
	color: black;
	background-color: white;
	transition: 850ms !important;
}

.btn2 {
	border: 2px solid #F1545F;
	background-color: #F1545F;
	margin-left: 8px;
}

.btn2:hover {
	border-color: white;
	background: none;
	color: white;
	transition: 850ms;
}

.bialt {
	display: flex;
	justify-content: center;
	padding-top: 150px;
	padding-bottom: 80px;
}

.bialt img {
	width: 100%;
}

.bialt .text {
	flex: 0 0 35%;
	padding: 0 15px;
}

.bialt .text h3 {
	color: #333333;
	font-size: 24px !important;
	font-weight: bold;
}

.bialt .text p {
	color: #707070;
	margin-top: 20px;
}

.bialt .img {
	flex: 0 0 35%;
	padding: 0 15px;
}

@media (max-width:1290px) {
	.bialt {
		flex-direction: column;
	}
}

.programs {
	display: flex;
	text-align: center;
	background-color: #222222;
	justify-content: center;
	padding: 60px 0;
}

.program {
	padding: 0 15px;
	flex: 0 0 19%;
}

.program i {
	color: #F1545F;
	font-size: 40px;
}

.program h3 {
	color: white;
	font-size: 24px;
	margin-top: 1rem;
}

.program p {
	font-size: 14px;
	color: #707070;
	margin-top: 1rem;
}

@media(max-width:1034px) {
	.programs {
		flex-direction: column;
	}
	.program:nth-child(n+2) {
		margin-top: 55px;
		
	}
}
.animate{
	animation: samettext 3s infinite;
}
@keyframes samettext{
	0%{
		color: white;
	}
	50%{
		color: #F1545F;
	}
	75%{
		color: grey;
	}
	100%{
		color: white;
	}
}